body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    flex-direction: column;
    width: 50%;
    margin: auto;
    text-align: center;
}

button {
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    font-size: 24px;
    background-color:#351C75;
    color: white;
    border-radius: 12px;
}